<footer>
	<div class="container">
	   <div class="row">
		  <div class="col-sm-5 text-left">
			 <h2>Educ'Etic</h2>
			 <p>Groupe scolaire privé situé en Essonne, EDUC’ETIC propose des cours conformes et respectueux du code de l’éducation aux élèves de la primaire et du secondaire à distance. Son équipe de pédagogues met son expérience et son savoir au service de l’éducation de vos enfants.</p>
			 <p>Nous inculquons les apprentissages fondamentaux à nos élèves pour qu’ils deviennent des citoyens responsables et instruits dans une société qui se modernise chaque jour.</p>
			 <br>
			 <ul class="social">
				<li><a href="{{ site.data.company.facebook }}" target="_blank"><span class="fa fa-facebook fa-fw"></span></a></li>
			 </ul>
			 <br>
		  </div>
		  <div class="col-sm-4 text-left">
			<h2>Contact</h2>
			<p>{{ site.data.company.address }}, {{ site.data.company.zipCode }} {{ site.data.company.city }}</p>
			<p>Tel: <a href="tel:{{ site.data.company.phone1 }}">{{ site.data.company.phone1 }}</a></p>
			<p>Mail: <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a></p>
		  </div>
		  <div class="col-sm-3 text-left">
			 <h2>Liens utiles</h2>
			 <ul class="list1">
				<li><a class="{% if page.url == '/presentation' %}active{% endif %}" href="{{ site.baseurl }}/presentation">Présentation</a></li>
				<li><a class="{% if page.url == '/pedagogie-methode-singapour' %}active{% endif %}" href="{{ site.baseurl }}/pedagogie-methode-singapour">Pédagogie: méthode Singapour</a></li>
				<li><a class="{% if page.url == '/cours-a-distance' %}active{% endif %}" href="{{ site.baseurl }}/cours-a-distance">Cours à distance</a></li>
				<li><a class="{% if page.url == '/comment-descolariser-son-enfant' %}active{% endif %}" href="{{ site.baseurl }}/comment-descolariser-son-enfant">Comment déscolariser son enfant : guide pratique</a></li>
				<li><a class="{% if page.url == '/scolariser-enfant-domicile' %}active{% endif %}" href="{{ site.baseurl }}/scolariser-enfant-domicile">Comment Scolariser son Enfant à Domicile Légalement ?</a></li>
				<li><a class="{% if page.url == '/inscription' %}active{% endif %}" href="{{ site.baseurl }}/inscription">Inscription</a></li>
				<li><a class="{% if page.url == '/contact' %}active{% endif %}" href="{{ site.baseurl }}/contact">Contact</a></li>
				<li><a class="{% if page.url == '/devis' %}active{% endif %}" href="{{ site.baseurl }}/devis">Demande de renseignement</a></li>
			 </ul>
		  </div>
	   </div>
	</div>
	<div class="text-center" id="bhinternet">
	   <a href="https://www.bhinternet.fr/" target="_blank">BHInternet - Création site internet | {{ "now" | date: "%Y" }} | </a>
	   <a href="{{ site.baseurl }}/legales-mentions">Mentions légales</a>
	</div>
 </footer>